:root {
  --base-spacing: 10px;

  --color1: rgba(246, 81, 29, 1);
  --color2: rgba(255, 180, 0, 1);
  --color3: rgba(0, 166, 237, 1);
  --color4: rgba(127, 184, 0, 1);
  --color5: rgba(13, 44, 84, 1);
}
