.Auth .auth--parent {
  display: flex;
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  flex-direction: column;
  text-align: center;
  align-content: center;
  overflow: hidden;
}

.Auth .auth--child {
  padding-bottom: 10px;
  overflow: hidden;
}
