.Game {
  text-align: center;
}

.Game {
  padding: var(--base-spacing);
  margin: var(--base-spacing);
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  min-width: 300px;
  min-height: 40px;
  max-height: 80px;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}


.Game .key {
  flex-grow: 3;
  font-size: 0.975rem;
  font-weight: 500;
}

.Game .redeem {
  flex-grow: 1;
}

.revealed.redeemed {
  background-color: var(--color4) !important;
}

.revealed {
  background-color: var(--color2) !important;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
  transition: 0.7s all;
}

.unrevealed {
  background-color: var(--color1) !important;
}
